body {
    $heading-font : 18px;
    margin: 0;
    .app-layout{
        .container{
            margin-inline: 15px;

        }
        .top-rated-btn{
            margin-block: 40px 10px;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
        }
        .header {
            background: #c62828;
            display: flex;
            padding: 20px 50px;
            justify-content: space-between;
            align-items: center;
            .logo {
                max-width: 230px;
                display: block;
                img {
                    object-fit: contain;
                    display: block;
                    width: 100%;
                }
                a{
                    text-decoration: none;
                }
            }
            .unordered-list {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 20px;
                align-items: center;
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
        .card-grp {
            margin-block: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: start;

            .card-wrap {
                width: 270px;
                .card-img-wrap {
                    height: 182px;
                    img {
                        object-fit: cover;
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                    }
                }
                .card-content-wrap{
                    .card-title{
                        font-size: $heading-font;
                        padding-block: 10px;
                    }
                }
            }
        }
    }
}
.header-logo-title {
    font-family: Style Script, cursive;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    text-decoration: none;
    font-size: 50px;
    transform: rotate(-15deg);
    padding-block: 20px;
}
.header-logo-title{
    font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.offers-grp::-webkit-scrollbar {
    display: none;
}
.offers-grp {
    display: flex;
    overflow: scroll;
    gap: 12px;
    margin-block: 20px;
}

.offer-card-wrap {
    border: 1px solid #e9e9eb;
    border-radius: 8px;
    min-width: 200px;
    height: 100%;
    padding: 9px 7px;
    display: block;
    box-shadow: 0 1px 2px #0000000a;
}
.menu-offer-header {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: rgb(96, 178, 70);
}
.menu-offer-des {
    font-size: 12px;
    color: #93959f;
    gap: 2px;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    font-weight: 700;
}
.shimmer-card-grp{
    display: flex;
    flex-wrap: wrap;
    margin-block: 30px;
    gap: 20px;
    justify-content: space-between;
    .shimmer-card-wrap{
        width: 270px;
        height: 180px;
        border-radius: 12px;
        background-color: #ccc;
    }
}
.menu-page-shimmer-sub-desc {
    height: 12px;
    width: 300px;
    margin-block: 10px;
    border-radius: 4px;
    background: #ccc;
    margin: 10px auto;
}
.top-pick-wrap{
    margin-block: 30px;
    display: flex;
    overflow-x: scroll;
    gap: 54px;
    padding-bottom: 30px;
    border-bottom: 8px solid #f1f1f6;
    &::-webkit-scrollbar {
        display: none;
    }
    .top-pick-card img {
        width: 100%;
        display: block;
        object-fit: cover;
        position: relative;
        height: 100%;
    }
    .top-pick-card {
        min-width: 407px;
        height: 456px;
    }

}
.top-pick-header{
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 2.8rem;
    margin-block: 2.5rem 1rem;
    color:#333;
}
.menu-page-shimmer-sub-img {
    width: 59px;
    height: 71px;
    background: #ccc;
    margin-block: 11px;
    border-radius: 6px;
}
.menu-page-shimmer-offer {
    height: 12px;
    max-width: 600px;
    width: 100%;
    background: #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
    opacity: 0.4;
}
.menu-page-shimmer-sub-desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-page-shimmer-desc {
    opacity: .4;
    border-bottom: 1px dotted #ccc;
    margin-block: 50px;
    display: flex;
    justify-content: space-between;
}
.menu-page-shimmer-container,
.res-detailcontainer{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    min-height: 80vh;
}
.rest-main-detail{

    .res-detail-rating-card {
        border: 1px solid #e9e9eb;
        box-shadow: 0 1px 5px #f9f9f9;
        border-radius: 6px;
        text-align: center;
        padding: 8px;
        max-width: 100px;
        height: fit-content;
    }
    .image-star-group {
        color: #3d9b6d;
        padding-block: 10px 15px;
        border-bottom: 1px solid #e9e9eb;
        font-weight: 700;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        img{
            width: 16px;
        }

    }
    .total-rating {
        font-size: 11px;
        color: #8b8d97;
        font-weight: 600;
        padding-block: 10px 5px;
    }
    h1.res-detail-name {
        font-size: 1.43rem;
        font-weight: 600;
        color: #282c3f;
        margin-bottom: 8px;
        text-transform: capitalize;
    }
    .rest-mini-detail-wrap {
        padding-block: 20px;
        border-bottom: 1px dashed #7e808c;
    }

}
.res-cuisine-rating-wrap {
    display: flex;
    justify-content: space-between;
}
.footer {
    background-color: #f1f1f6;
    padding: 35px;
}