body {
    $heading-font : 18px;
    margin: 0;
    .app-layout{
        .container{
            margin-inline: 15px;

        }
        .top-rated-btn{
            margin-block: 40px 10px;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
        }
        .header {
            background: #f8f8f8;
            display: flex;
            padding: 20px 15px;
            justify-content: space-between;
            align-items: center;
            .logo {
                max-width: 230px;
                display: block;
                img {
                    object-fit: contain;
                    display: block;
                    width: 100%;
                }
            }
            .unordered-list {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }
        .card-grp {
            margin-block: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: start;

            .card-wrap {
                width: 270px;
                .card-img-wrap {
                    height: 182px;
                    img {
                        object-fit: cover;
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                    }
                }
                .card-content-wrap{
                    .card-title{
                        font-size: $heading-font;
                        padding-block: 10px;
                    }
                }
            }
        }
    }
}

.shimmer-card-grp{
    display: flex;
    flex-wrap: wrap;
    margin-block: 30px;
    gap: 20px;
    justify-content: space-between;
    .shimmer-card-wrap{
        width: 270px;
        height: 180px;
        border-radius: 12px;
        background-color: #ccc;
    }
}
.rest-main-detail{
    max-width: 800px;
    margin: 20px auto;
    width: 100%;
    .res-detail-rating-card {
        border: 1px solid #e9e9eb;
        box-shadow: 0 1px 5px #f9f9f9;
        border-radius: 6px;
        text-align: center;
        padding: 8px;
        max-width: 100px;
        height: fit-content;
    }
    .image-star-group {
        color: #3d9b6d;
        padding-block: 10px 15px;
        border-bottom: 1px solid #e9e9eb;
        font-weight: 700;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        img{
            width: 16px;
        }

    }
    .total-rating {
        font-size: 11px;
        color: #8b8d97;
        font-weight: 600;
        padding-block: 10px 5px;
    }
    h1.res-detail-name {
        font-size: 1.43rem;
        font-weight: 600;
        color: #282c3f;
        margin-bottom: 8px;
        text-transform: capitalize;
    }
    .rest-mini-detail-wrap {
        padding-block: 20px;
        border-bottom: 1px dashed #7e808c;
    }

}
.res-cuisine-rating-wrap {
    display: flex;
    justify-content: space-between;
}
.footer {
    background-color: #f1f1f6;
    padding: 35px;
}